* {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

.nodetext {
  pointer-events: none;
  font-size: 12px;
}

circle.circle {
  cursor: pointer;
  stroke-width: 2px;
}

circle.selected {
  stroke-width: 5px !important;
}

line.link {
  stroke: #ccc;
}

#left {
  position: absolute;
  z-index: 10;
  left: 5px;
  top: 50px;
  margin-right: 50px;
}

#entity-viewer {
  color: #555;
  font-size: 10px;
  max-height: 230px;
  overflow-y: scroll;
  display: none;
}

td {
  margin: 0;
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
  border-right: 1px solid #ccc;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100px;
}

td:not(.empty):hover {
  color: #fff;
  background-color: #333;
  cursor: pointer;
}

td.highlighted {
  color: #fff;
  background-color: green;
}

td.common {
  color: #fff;
  background-color: skyblue;
}

td:nth-child(1) {
  padding-left: 0;
}

td:last-child {
  border-right: none;
}

th {
  padding-bottom: 5px;
}

.block {
  padding: 5px;
  border: 1px solid #eee;
  background-color: rgba(250, 250, 250, 0.9);
  border-radius: 3px;
}

#document-viewer {
  top: 250px;
  max-height: 100px;
  overflow-y: scroll;
  position: absolute;
}

#document-viewer a {
  display: block;
  color: #555;
  font-size: 11px;
  width: 200px;
  cursor: pointer;
}

#document-viewer a:hover {
  color: #fff;
  background-color: #333;
}

#legend {
  top: 370px;
  position: absolute;
  width: 200px;
  max-height: 220px;
  overflow-y: scroll;
}

#legend .pair {
  display: block;
}

#legend .value {
  color: #aaa;
  font-size: 11px;
  display: inline-block;
}

#legend .key {
  height: 5px;
  width: 9px;
  display: inline-block;
  margin-right: 10px;
}

#header {
  position: absolute;
  left: 5px;
  top: 2;
  width: 40%;
}

#back-btn {
  margin-top: 20px;
  display: none;
}

#title {
  color: #555;
  display: inline-block;
  font-size: 17px;
  padding: 10px 0;
  text-transform: capitalize;
}

#search-history {
  margin-top: 5px;
}

.search {
  display: block;
}

.search a {
  padding: 1px 5px 3px 5px;
  color: #555;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 11px;
}

.search a:hover {
  background-color: #888;
  color: #fff;
  cursor: pointer;
}

#editor {
  position: absolute;
  right: 0;
  margin-right: 5px;
  width: 200px;
  cursor: move;
  color: #333;
  font-size: 12px;
}

#editor label {
  width: 200px;
}

#editor input[type=checkbox] {
  margin-right: 5px;
}

#viz {
  clear: both;
  overflow: auto;
}

#footer {
  color: #555;
  margin-top: 10px;
  font-size: 11px;
  padding-bottom: 20px;
  text-align: center;
  line-height: 15px;
}

#loading {
  top: 45%;
  left: 5%;
  position: absolute;
  display: block;
  height: 250px;
  width: 90%;
  text-align: center;
  color: #888;
  font-size: 26px;
}

.toggleEntityLabel {
  display: block;
}

#help {
  color: #ccc;
  font-size: 11px;
  margin-top: 10px;
}

#help ul {
  padding: 0;
  margin: 0;
  margin-top: 5px;
  list-style-type: none;
}

#help li {
  margin: 5px 0;
  padding: 0;
}