* {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

.nodetext {
  pointer-events: none;
  font-size: 12px;
}

circle.circle {
  cursor: pointer;
  stroke-width: 2px;
}

circle.selected {
  stroke-width: 5px !important;
}

line.link {
  stroke: #ccc;
}

#left {
  position: absolute;
  z-index: 10;
  left: 20px;
  top: 80px;
  margin-right: 50px;
}

.b-table {
  background: rgba(250, 250, 250, 0.9);
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 5px;
  color: #555;
  font-size: 10px;
  max-height: 300px;
  overflow-y: scroll;
}

td {
  margin: 0;
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
  border-right: 1px solid #ccc;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100px;
}

td:not(.empty):hover {
  color: #fff;
  background-color: #333;
  cursor: pointer;
}

td.highlighted {
  color: #fff;
  background-color: green;
}

td.common {
  color: #fff;
  background-color: skyblue;
}

td:nth-child(1) {
  padding-left: 0;
}

td:last-child {
  border-right: none;
}

th {
  padding-bottom: 5px;
}

#legend {
  top: 370px;
  position: absolute;
  width: 200px;
  max-height: 250px;
  overflow-y: scroll;
}

#legend .pair {
  display: block;
}

#legend .value {
  color: #ccc;
  font-size: 11px;
  display: inline-block;
}

#legend .key {
  height: 5px;
  width: 9px;
  display: inline-block;
  margin-right: 10px;
}

#header {
  position: absolute;
  left: 10px;
  top: 2;
  padding: 10px;
  width: 90%;
}

#back-btn {
  left: 20px;
  top: 55px;
  position: absolute;
  display: none;
}

.title {
  color: #555;
  font-size: 15px;
  text-transform: capitalize;
}

#editor {
  position: absolute;
  right: 0;
  padding: 10px;
  margin-right: 20px;
  border: 1px solid #eee;
  background-color: rgba(250, 250, 250, 0.9);
  border-radius: 5px;
  width: 180px;
  cursor: move;
}

#editor label {
  color: #333;
  font-size: 12px;
  width: 200px;
}

#editor input[type=checkbox] {
  margin-right: 5px;
}

#viz {
  height: 100%;
  clear: both;
  overflow: auto;
  height: 100%;
}

#footer {
  color: #555;
  margin-top: -20px;
  font-size: 11px;
  padding-bottom: 20px;
  text-align: center;
  line-height: 15px;
}

#loading {
  top: 45%;
  left: 5%;
  position: absolute;
  display: block;
  height: 250px;
  width: 90%;
  text-align: center;
  color: #888;
  font-size: 26px;
}

.toggleEntityLabel {
  display: block;
}